<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="theme-color" content="#333333" />
     <meta name="description" content="Insert a Short Description Here" />
     <meta name="keywords" content="lsrc,parallax,2k19,raheja,ls,santacruz,juhu,mumbai,fest" />
     <meta name="author" content="L.S Raheja College of Arts & Commerce,Parallax,Chiranjit Singh" />
     <title>Parallax</title>
     <link rel="icon" href="../img/logo.png" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" />
     <link rel="stylesheet" href="../css/custom.css" />
</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
               <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.png" height="20px" width="25px">&nbsp;PARALLAX
               </a>
               <a class="nav-link text-secondary" href="../index.html"><i class="fas fa-arrow-left"></i> Back to
                    Home</a>
          </div>
     </nav>
     <div class="jumbotron text-center bg-dark text-white">
          <h1 class="display-3">Day One</h1>
     </div>
     <div class="container-fluid text-center">
          <h1 class="display-3"><i class="fas fa-microchip"></i><br />IT Exhibition</h1>
          <p class="lead">This is the century of dense competition and competitive environment, the power of leadership
               arouses from success in IT field, This Exhibition will let you experience some parts of the big magical
               world of IT Infrastructure, IoT, Robotics, VR, AR, & AI.</p>
          <hr class="my-4">
          <p class="text-primary">Venue : Gymkhana;&nbsp;&nbsp;Time: 11:00 - 4:00<br /><br /></p>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event1">
                         <h5>Stranger Tides(Snakes & Ladder)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small>
                         </h5>
                    </a>
                    <div class="collapse" id="event1">
                         <p class="text-primary">Venue: Quadrangle;&nbsp;&nbsp;Time: 11:00 – 4:00</p>
                         <p><strong>Defeat don't hiss you anymore, it just pulls you down from the
                                   ladder!</strong><br />
                              Surround yourself with snakes and the fear will make you climb the ladder.</p>
                         <p><strong>Rules:</strong><br />
                              i)Participant should move only when received ‘Number 1 and 6’ on the dice.<br />
                              ii)When reached at the edge of a ladder, participant will be given a task. <br />
                              iii)If the participant is bit by a snake then he/she has to move back to the number shown
                              on the flex.<br />
                              iv)Per team: 5 Participants<br />
                              v)Any type of misbehaviour will lead to disqualification.<br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event2">
                         <h5>Catechized(Quiz)&nbsp;&nbsp;<small><span
                                        class="badge badge-pill badge-danger">Flagship</span>&nbsp;&nbsp;<i
                                        class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event2">
                         <p class="text-primary">Venue: F11;&nbsp;&nbsp;Time: 11:00 – 1:30</p>
                         <p><strong>Let's get our curiosity growing! </strong><br />
                              Expel yourself from the web of mysteries. Exhibit your knowledge by answering the
                              questions you have never answered.</p>
                         <p><strong>Rules:</strong><br />
                              i)Two rounds. Rest details on the day of event.<br />
                              ii)Final round will be held on the next day.<br />
                              iii)1 teams per contingent (Per team: 2 participants)<br />
                              iv)Use of mobile phone is prohibited.<br />
                              v)15 teams will be allowed to play on FIRST COME FIRST SERVE basis.<br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event3">
                         <h5>Master of the Market(Live Share)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small>
                         </h5>
                    </a>
                    <div class="collapse" id="event3">
                         <p class="text-primary">Venue: Council;&nbsp;&nbsp;Time: 11:30 – 4:00</p>
                         <p><strong>Take risks, get victory and make it happen!</strong><br />
                              Price is what you pay. Value and position is what you get.</p>
                         <p><strong>Rules:</strong><br />
                              i)To be disclosed on the day of the event.<br />
                              ii)Team per contingent (per team: 2participants)<br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event4">
                         <h5>Over Clockers(LAN Gaming)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></i>
                         </h5>
                    </a>
                    <div class="collapse" id="event4">
                         <p class="text-primary">Venue: IT Lab;&nbsp;&nbsp;Time: 11:30 – 4:00</p>
                         <p><strong>Do you fear gaming apocalypse?</strong><br />
                              Arms race between the predators and the preys! Let your talent and intelligence win the
                              game.</p>
                         <p><strong>Rules:</strong><br />
                              i)CS 1.6 / NFS (Most Wanted)/ FIFA/ PUBG Mobile.<br />
                              ii)To be disclosed on the day of the event.<br />
                              iii)Maximum 1 team per contingent (per team: 2-5 participants)<br />
                              iv)CS - 5 Participants per team.<br />
                              v)NFS - 1 Participant per team.<br />
                              vi)FIFA - 1 Participant per team.<br />
                              vi)PUBG Mobile - 3 Solo Participants per contingent.
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event5">
                         <h5>Aqua Merchantile(Enterpreneurship)&nbsp;&nbsp;<small><span
                                        class="badge badge-pill badge-danger">Flagship</span>&nbsp;&nbsp;<i
                                        class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event5">
                         <p class="text-primary">Venue: S8;&nbsp;&nbsp;Time: 12:00 – 3:30</p>
                         <p><strong>Increase in gaining is a chance of winning!</strong><br />
                              Money is a pretty sweet deal.</p>
                         <p><strong>Rules:</strong><br />
                              i)Surprize Event<br />
                              ii)1 team per contingent (per team: 3 participants)<br />
                              iii)15 teams will be allowed to play on FIRST COME FIRST SERVE basis.<br />
                              iv)Formals Compulsory.
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event6">
                         <h5>Mud War(Tug of War)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event6">
                         <p class="text-primary">Venue: Upvan;&nbsp;&nbsp;Time: 12:30 – 3:00</p>
                         <p><strong>No quick pulls, just a slow tug!</strong><br />
                              Compete with thy teams and test your strengths.</p>
                         <p><strong>Rules:</strong><br />
                              i)Maximum 2 teams per contingent.<br />
                              ii)No. of participants {per team: 5 boys+2 girls & 1(girl) substitute [optional]} <br />
                              iii)16 teams will be allowed to play on FIRST COME FIRST SERVE Basis.
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event7">
                         <h5>Socratic Method(Debate)&nbsp;&nbsp;<small><span
                                        class="badge badge-pill badge-danger">Flagship</span>&nbsp;&nbsp;<i
                                        class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event7">
                         <p class="text-primary">Venue: S7;&nbsp;&nbsp;Time: 1:30 – 4:00</p>
                         <p><strong>Soft words, intense arguments!</strong><br />
                              Speech is power, is to persuade, to convert & to expel.</p>
                         <p><strong>Rules:</strong><br />
                              i)Surprize Event.<br />
                              ii)1 teams per contingent (per team: 3 participants)<br />
                              iii)To be disclosed on the day of event<br />
                              iv)Final on next day.<br />
                              v)First 20 teams will be allowed to play on FIRST COME FIRST SERVE basis.<br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event8">
                         <h5>Tanoura(Solo Dance)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event8">
                         <p class="text-primary">Venue: Ground;&nbsp;&nbsp;Time: 4:30 – 6:30</p>
                         <p><strong>Surmount the throne of the Pharaoh!</strong><br />
                              Dance to your own rhythm because every moment matters!</p>
                         <p><strong>Rules:</strong><br />
                              i)Duration- 3 to 5 minutes.<br />
                              ii)Songs and the CD should be submitted 2 days and BackUp 2 hours prior to the event
                              respectively.Email id :- parallax.lsrc@gmail.com <br />
                              iii)Props will be allowed if the prop list is submitted online, 2 days prior to the
                              event.<br />
                              iv)No eliminations will be conducted, direct Finals.<br />
                              v)No kind of crudity in outfits, nastiness in songs and in dance moves will be
                              tolerated.<br />
                              vi)Registration will be done on FIRST COME FIRST SERVE basis.<br />
                              vii)Maximum 2 teams per contingent (per team: 1 participant)<br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="container span4 collapse-group">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#event9">
                         <h5>Nubain(Group Dance)&nbsp;&nbsp;<small><span
                                        class="badge badge-pill badge-danger">Flagship</span>&nbsp;&nbsp;<i
                                        class="fas fa-sort-down"></i></small></h5>
                    </a>
                    <div class="collapse" id="event9">
                         <p class="text-primary">Venue: Ground;&nbsp;&nbsp;Time: 7:00 – 8:30</p>
                         <p><strong>Spin, twirl, swirl on Lyre and Harps’ melody!<br /></strong>
                              A team divides the task and multiplies the success. Let the hidden language of your souls
                              get reflected in your dance.</p>
                         <p><strong>Rules:</strong><br />
                              i)Duration: 6 minutes (maximum).<br />
                              ii)Also a backup CD is to be carried along and submitted on the registration desk before
                              performance.<br />
                              iii)Props will be allowed if the prop list is submitted online, 2 days prior to the
                              performance.<br />
                              iv)Songs and the CD should be submitted 2 days and BackUp 2 hours prior to the event
                              respectively.Email id:- parallax.lsrc@gmail.com <br />
                              v)No eliminations will be conducted, direct Finals.<br />
                              vi)No kind of crudity in outfits, nastiness in songs and in dance moves will be
                              tolerated.<br />
                              vii)Registration will be done on FIRST COME FIRST SERVE basis.<br />
                              viii)1 teams per contingent (per team: 6-12 participants) <br />
                              <hr />
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container d-flex flex-row-reverse">
          <h2 class="p-2"><span class="badge badge-pill badge-primary"><a href="two.html" class="text-white">Day
                         Two</a>&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></span></h2>
     </div>
     <footer class="py-5 bg-dark">
          <div class="container text-center text-white">
               <h1>To Register</p>
               </h1>
               <button class="btn btn-danger"><a href="https://goo.gl/forms/wnwv8BlFxfjiEcVE3" class="text-white">Click
                         here</a></button>
               <hr />
               <p>
                    <a href="https://www.facebook.com/Parallax.lsrc/"><img src="../img/fb.png" height="36px"
                              width="36px"></a>
                    <a href="https://www.instagram.com/parallax.lsrc/"><img src="../img/ig.png" height="36px"
                              width="36px"></a>
                    <a href="https://www.snapchat.com/add/parallax.lsrc"><img src="../img/sc.png" height="36px"
                              width="36px"></a>
                    <a href="https://www.youtube.com/lsrcparallax"><img src="../img/yt.png" height="36px"
                              width="36px"></a>
               </p>
               <p class="m-0">Made with <i class="fas fa-heart"></i> by <a
                         href="https://chiranjit1998.github.io/">Chiranjit Singh</a>.</p>
          </div>
     </footer>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
     <script src="../js/custom.js"></script>
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128676772-1"></script>
     <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('config', 'UA-128676772-1');
     </script>
</body>

</html>