<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#333333" />
  <meta name="description" content="Insert a Short Description Here" />
  <meta name="keywords" content="lsrc,parallax,2k19,raheja,ls,santacruz,juhu,mumbai,fest" />
  <meta name="author" content="L.S Raheja College of Arts & Commerce,Parallax,Chiranjit Singh" />
  <title>Parallax</title>
  <link rel="icon" href="../img/logo.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" />
  <link rel="stylesheet" href="../css/custom.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="../index.html">
        <img src="../img/logo.png" height="20px" width="25px">&nbsp;PARALLAX
      </a>
      <a class="nav-link text-secondary" href="../index.html"><i class="fas fa-arrow-left"></i> Back to Home</a>
    </div>
  </nav>
  <div class="jumbotron text-center bg-dark text-white">
    <h1 class="display-3">Day Three</h1>
  </div>
  <div class="container d-flex flex-row">
    <h2 class="p-2"><span class="badge badge-pill badge-primary"><a href="two.html" class="text-white"><i
            class="fas fa-arrow-left"></i>&nbsp;&nbsp;Day Two</a></span></h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event1">
          <h5>Atlantic Evidence(Lok Adalat)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event1">
          <p class="text-primary">Venue: S9;&nbsp;&nbsp;Time: 10:00 - 1:00</p>
          <p><strong>Let thy speech be better than silence!</strong><br />
            A man without law is a man without freedom. Being a lawyer is never easy because justice maybe blind but has
            a great listening device.</p>
          <p><strong>Rules:</strong><br />
            i)Judge’s decision will be considered final.<br />
            ii)To be declared on the day of the event.<br />
            iii)1 team per contingent. <br />Per contingent :- 1 member<br />
            iv)20 Teams will be allowed to play on FIRST COME FIRST SERVE Basis.

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event2">
          <h5>Bamboozle(Unlit)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event2">
          <p class="text-primary">Venue: Upvan;&nbsp;&nbsp;Time: 10:30 – 2:30</p>
          <p><strong>Who needs eyes, when your mind can be one!</strong><br />
            Each step you take may lead you to the path of fantasy.</p>
          <p><strong>Rules:</strong><br />
            1)Round 1: <br />
            i) A team of 5, 4 blindfolded and hands on the partner’s shoulder, will be guided by the one whose eyes will
            be uncovered. <br />
            ii)The blindfolded player will be given a packet of balls to be put in a bucket. <br />
            2)Round 2: <br />
            i)To be disclosed on the day of the event. <br />
            3)Maximum 2 teams per contingent (participants: 5-6 per team)<br />
            4)20 Teams will be allowed to play on FIRST COME FIRST SERVE Basis.
            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event3">
          <h5>Fortune Hunter(Treasure Hunt)&nbsp;&nbsp;<small><span
                class="badge badge-pill badge-danger">Flagship</span>&nbsp;&nbsp;<i
                class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event3">
          <p class="text-primary">Venue: Upvan;&nbsp;&nbsp;Time: 10:30 – 1:00</p>
          <p><strong>Escape every barrier to secure the treasure!</strong><br />
            Are you in search of the treasure? It might be right behind you without you ever knowing!</p>
          <p><strong>Rules:</strong><br />
            Surprize Event<br />
            i) One Team per contingent. Per team 3 participants.<br />
            ii) Number of teams playing will be disclosed on the day of event.

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event4">
          <h5>Stranger Tides(Snakes and Ladder)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></i></h5>
        </a>
        <div class="collapse" id="event4">
          <p class="text-primary">Venue: Quadrangle;&nbsp;&nbsp;Time: 11:00 – 3:30</p>
          <p><strong>Defeat don't hiss you anymore, it just pulls you down from the ladder!</strong><br />
            Surround yourself with snakes and the fear will make you climb the ladder.</p>
          <p><strong>Rules:</strong><br />
            i)Participant should move only when received ‘Number 1 and 6’ on the dice.<br />
            ii)When reached at the edge of a ladder, participant will be given a task. <br />
            iii)If the participant is bit by a snake then he/she has to move back to the number shown on the flex.<br />
            iv)One team per contingent.(Per team: 4 Participants)<br />
            v)Any type of misbehaviour will lead to disqualification.<br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event5">
          <h5>Ek Kahani Suno(Story Telling)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event5">
          <p class="text-primary">Venue: F12;&nbsp;&nbsp;Time: 11:00 – 1:00</p>
          <p><strong>Grandma says it's story time!</strong><br />
            True stories can be spun into campfire tales by a creative storyteller. Express your words and let your
            fantasies reach out to the world.</p>
          <p><strong>Rules:</strong><br />
            i)To be disclosed on the day of the event.<br />
            ii)1 team per contingent (participants: 2 per team).<br />
            iii)15 Teams will be allowed on FIRST COME FIRST SERVE Basis.


            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event6">
          <h5>Overclockers(LAN Gaming)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event6">
          <p class="text-primary">Venue: IT Lab;&nbsp;&nbsp;Time: 11:30 – 3:30</p>
          <p><strong>Do you fear gaming apocalypse?</strong><br />
            Arms race between the predators and the preys! Let your talent and intelligence win the game.</p>
          <p><strong>Rules:</strong><br />
            i)CS 1.6 / NFS (Most Wanted)/ FIFA/ PUBG Mobile.<br />
            ii)To be disclosed on the day of the event.<br />
            iii)Maximum 1 team per contingent (per team: 2-5 participants)<br />
            iv)CS - 5 Participants per team.<br />
            v)NFS - 1 Participant per team.<br />
            vi)FIFA - 1 Participant per team.<br />
            vi)PUBG Mobile - 3 Solo Participants per contingent.
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event7">
          <h5>Search of Space(Beg Borrow Steal)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event7">
          <p class="text-primary">Venue: AV Room,Upvan,Ground;&nbsp;&nbsp;Time: 1:00 – 3:00</p>
          <p><strong>It always seems impossible, until it’s done!</strong><br />
            Having difficulty in accomplishing a difficult task? First, try making one easy.</p>
          <p><strong>Rules:</strong><br />
            i)Any kind of stealing, cheating, misbehaviour or use of abusive language will lead to
            disqualification.<br />
            ii)Per Contingent :- 2 teams ; <br />Per Team :- 2 Participants<br />
            iii)To be disclosed on the day of event.<br />

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event8">
          <h5>Dimensional Reality(Be a Detective)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event8">
          <p class="text-primary">Venue: F12;&nbsp;&nbsp;Time: 1:30 – 3:00</p>
          <p><strong>Quick work, Sherlock!</strong><br />
            Get paired up with your investigator to find the broken pieces and solve the metaphysical puzzles hidden
            from you.</p>
          <p><strong>Rules:</strong><br />
            i) To be disclosed on the day of event.<br />
            ii) 1 teams per contingent (per team: 2 participants)<br />
            iii)15 teams will be allowed to play on FIRST COME FIRST SERVE basis.<br />

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event9">
          <h5>War of CLs&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event9">
          <p class="text-primary">Venue: Auditorium/Upvan;&nbsp;&nbsp;Time: 1:30 – 4:00</p>
          <p><strong>SERVICE with PRIDE ; LEAD with CONFIDENCE & INSPIRE to IMPACT LIVES.<br /></strong>
            Get ready for all the challenges and dares to make yourself the Conqueror.</p>
          <p><strong>Rules:</strong><br />
            i)To be disclosed on the day of event.<br />
            ii)2 participants per contingent.<br />

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event10">
          <h5>War of Shemayat(War of DJ's)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event10">
          <p class="text-primary">Venue: Ground;&nbsp;&nbsp;Time: 4:00 – 5:30</p>
          <p><strong>Play your genre and let your beat intensify the crowd.</strong><br />
            Hit the crowd with your own beats and tones.</p>
          <p><strong>Rules:</strong><br />
            Round One<br />
            Elimination ( audio clips of not more than 3 minutes)<br />
            Round Two<br />
            Play live (8 minutes + 2 minutes setup).<br />
            Genre (Bollywood + EDM + English Retro). <br />
            Participants exceeding the setup time will face a deduction in their performance time.<br />
            No Pre-mixed songs are allowed to play.<br />
            Minimum mix of 4 songs is compulsory.<br />
            Console will be provided.<br />
            First 8 teams will be allowed to play on FIRST COME FIRST SERVE basis. <br />

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container span4 collapse-group">
        <a class="btn btn-link" data-toggle="collapse" data-target="#event11">
          <h5><strong class="text-danger">OLIVIA presents</strong><br /> Hathor & Horus(Mr. and
            Ms.Parallax)&nbsp;&nbsp;<small><i class="fas fa-sort-down"></i></small></h5>
        </a>
        <div class="collapse" id="event11">
          <p class="text-primary">Venue: Ground;&nbsp;&nbsp;Time: 6:00 – 8:30</p>
          <p><strong>You are indeed, a Narmer if you know how to rule and earn the kingship.</strong><br />
            Conquer the throne of the King and the Queen. Wear the crown not just on your head but let it dwell in your
            soul.</p>
          <p><strong>Rules:</strong><br />
            i)To be disclosed on the day of event. <br />
            ii)No kind of crudity in outfits, nastiness in songs and dance moves will be tolerated. <br />
            iii)1boy 1girl Per Contingent

            <br />
            <hr />
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="py-5 bg-dark">
    <div class="container text-center text-white">
      <h1>To Register</p>
      </h1>
      <button class="btn btn-danger"><a href="https://goo.gl/forms/tch18h1mi71vfAj82" class="text-white">Click
          here</a></button>
      <hr />
      <p>
        <a href="https://www.facebook.com/Parallax.lsrc/"><img src="../img/fb.png" height="36px" width="36px"></a>
        <a href="https://www.instagram.com/parallax.lsrc/"><img src="../img/ig.png" height="36px" width="36px"></a>
        <a href="https://www.snapchat.com/add/parallax.lsrc"><img src="../img/sc.png" height="36px" width="36px"></a>
        <a href="https://www.youtube.com/lsrcparallax"><img src="../img/yt.png" height="36px" width="36px"></a>
      </p>
      <p class="m-0">Made with <i class="fas fa-heart"></i> by <a href="https://chiranjit1998.github.io/">Chiranjit
          Singh</a>.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128676772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-128676772-1');
  </script>
</body>

</html>