<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#333333" />
  <meta name="description"
    content="We bring back the most awaited and amazing, successful event Parallax! We are back with a bang!" />
  <meta name="keywords" content="lsrc,parallax,2k19,raheja,ls,santacruz,juhu,mumbai,fest" />
  <meta name="author" content="L.S Raheja College of Arts & Commerce,Parallax,Chiranjit Singh" />
  <title>Parallax</title>
  <link rel="icon" href="img/logo.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" />
  <link rel="stylesheet" href="css/custom.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="img/logo.png" height="20px" width="25px">&nbsp;PARALLAX
      </a>
    </div>
  </nav>
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="responsive-img" src="img/parallax.png" height="640px" width="360px">
        <div class="carousel-caption text-dark">
          <!--<h3>Parallax 2K19</h3>
      <p>We bring back the most awaited and amazing, successful event Parallax! We are back with a bang!</p>
     -->
        </div>
      </div>
      <!--<div class="carousel-item">
     <img class="responsive-img" src="img/sample.jpg" height="640px" width="360px">
     <div class="carousel-caption">
      <h3>Globetrotter</h3>
      </div>   
    </div>-->
      <div class="carousel-item">
        <img class="responsive-img" src="img/college.jpg" height="640px" width="360px">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="container">
    <h2 class="mt-4">What's Parallax?</h2>
    <p><strong class="text-danger">P</strong>arallax is a three days intercollegiate festival organised by “Self
      Financing Courses Students”. Parallax aims at bringing out the spark and skill in students through its exclusive
      events. The events at Parallax include varied competitions, Cultural events And professional shows which will be
      conducted within the college premises.</p>
    <p>Be a Globetrotter and hunt down the mysteries of the Histories. It's time to compete and rule Parallax on 7th,
      8th and 9th January 2019.</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K2CZ6UILv48"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div><br />
    <!--<p><a class="btn btn-primary btn-lg" href="about.html">About Us</a></p>-->
  </div>
  <div class="container">
    <h2>Sponsors</h2>
    <div class="row">
      <div class="col"><img src="img/fha.png" height="60px" width="250px"></div>
      <div class="col"><img src="img/hp.png" height="50px" width="50px"></div>
    </div>
    <div class="row">
      <div class="col"><img src="img/hdfc.png" height="50px" width="250px"></div>
    </div>
  </div><br />
  <div class="container">
    <h2 class="mt-4">Events</h2>
    <div class="row">
      <div class="card-deck">
        <div class="card border-primary">
          <div class="card-body">
            <h5 class="card-title">Day One</h5>
            <p class="card-text">The war has just started to get interesting. Wake up your pirate spirit and hunt down
              the treasures to it's depth with brave clues.</p>
          </div>
          <div class="card-footer">
            <a href="day/one.html" class="card-link">Info</a>
            <a href="https://goo.gl/forms/wnwv8BlFxfjiEcVE3" class="card-link">Register</a>
          </div>
        </div>
        <div class="card border-success">
          <div class="card-body">
            <h5 class="card-title">Day Two</h5>
            <p class="card-text">Something epic can change the course of history for all time. Put on your vastra and
              dig into the clues to conquer the kingdom.</p>
          </div>
          <div class="card-footer">
            <a href="day/two.html" class="card-link">Info</a>
            <a href="https://goo.gl/forms/GiCZlB5lEdHtFOqt1" class="card-link">Register</a>
          </div>
        </div>
        <div class="card border-danger">
          <div class="card-body">
            <h5 class="card-title">Day Three</h5>
            <p class="card-text">Turn your mind bulbs on to get some nostalgia. Make sure you know the Universe when
              you're here as we're back at the old school.</p>
          </div>
          <div class="card-footer">
            <a href="day/three.html" class="card-link">Info</a>
            <a href="https://goo.gl/forms/tch18h1mi71vfAj82" class="card-link">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div><br />
  <div class="container">
    <h2 class="mt-4">Contact Us</h2>
    <div class="row">

      <div class="col-sm-8">
        <address>
          <strong>Parallax</strong>
          <br>L.S Raheja College of Arts & Commerce,
          <br>Juhu Road, Santacruz (W),
          <br>Mumbai - 400054.
          <br>
        </address>
      </div>
      <div class="col-sm-4">
        <address>
          <abbr title="Phone">P (Registration)</abbr> : <a class="text-danger" href="#">--Number Removed--</a><br>
          <abbr title="Phone">P (Marketing)</abbr> : <a class="text-danger" href="#">--Number Removed--</a><br>
          <abbr title="Email">E</abbr> : <a class="text-danger"
            href="mailto:parallax.lsrc@gmail.com">parallax.lsrc@gmail.com</a><br>
          <abbr title="Brochure">E</abbr>-Brochure: <a class="text-danger"
            href="files/Parallax Brochure.pdf">Download</a>
        </address>
      </div>
    </div>
  </div>
  <footer class="py-5 bg-dark">
    <div class="container-fluid text-center text-white">
      <p class="text-white">
        <a href="https://www.facebook.com/Parallax.lsrc/"><img src="img/fb.png" height="36px" width="36px"></a>
        <a href="https://www.instagram.com/parallax.lsrc/"><img src="img/ig.png" height="36px" width="36px"></a>
        <a href="https://www.snapchat.com/add/parallax.lsrc"><img src="img/sc.png" height="36px" width="36px"></a>
        <a href="https://www.youtube.com/lsrcparallax"><img src="img/yt.png" height="36px" width="36px"></a>
      </p>
      <p class="m-0">Made with <i class="fas fa-heart"></i> by <a href="https://chiranjit1998.github.io/">Chiranjit
          Singh</a>.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128676772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-128676772-1');
  </script>
</body>

</html>